Code/
vlc/
vscode-sqltools/
nextjs-nodejs/
google-chrome/
create-next-app-nodejs/
dconf/
spotify/
zathura/
pulse/
htop/
Thunar/
neofetch/
astro/
.config/waybar/colors-waybar.css
libreoffice/
obs-studio/
qBittorrent/
qalculate/
./QtProject.conf
qalculate/qalc.cfg
ResponsivelyApp/
VirtualBox/
simple-update-notifier/
waypaper-engine/
.config/cava/config
biolab.si/
