[user]
	name = javi-diaz47
	email = javiereduardo300@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	st = status -sb
  ll = log --oneline --graph
  a = add
	cm = commit -m
	ca = commit --amend -m
	can = commit --amend --no-edit
	acm = commit -a -m
